@use "../abstracts/abstracts_all" as *;
.side_profile {
  border-left: 1px solid #e1e3e6;
  padding: 0;
  background-color: #fff;
  text-align: center;
  .profile_img {
    text-align: center;
    padding: 25px;
    .link {
      margin: 15px auto 0;
    }
    img {
      width: 140px;
      border: 3px solid #f4f4f4;
      padding: 3px;
      @include border_radius(50%);
    }
  }
  .data {
    padding: 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: start;
    li {
      display: block;
      line-height: 40px;
      font-size: 15px;

      &:first-child {
        font-weight: $weight_xbold;
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
        line-height: 25px;
      }
      span {
        font-size: 13px;
        margin-inline-end: 3px;
        font-weight: $weight_xbold;
        min-width: 90px;
        display: inline-block;
      }
    }
  }
  .link {
    margin: 15px auto;
    width: 140px;
    display: block;
  }
  @include mediaquery(max, desktop) {
    margin-bottom: 25px;
    .profile_img {
      padding: 15px 15px 0;
      .upload_img {
        margin-bottom: 15px;
      }
    }
    .data {
      display: none;
    }
  }
}

.profile_cont {
  padding: 25px;
  background-color: #fff;

  .head {
    @include flex(row, space-between, center);
    .link {
      margin: 0;
    }
    @include mediaquery(max, mobile) {
      flex-direction: column;
      text-align: start;
      .link {
        margin-top: 15px;
      }
    }
  }
  .profile_nav {
    margin: auto;
    background-color: #f5f5f7;
    position: sticky;
    top: 20px;

    li {
      display: block;
      width: 100%;

      a {
        display: block;
        color: $black_color;
        padding: 20px 10px;
        font-weight: $weight_xbold;
        font-size: 13px;
        background-color: #f5f5f7;
        border: solid #fff;
        border-width: 1px 0;
        text-align: center;
        i {
          margin-bottom: 10px;
          display: block;
        }
        &.active {
          color: $main_color;
          border-color: $main_color;
        }
      }
    }
    @include mediaquery(max, mobile) {
      margin-bottom: 15px;
      li {
        width: 32.8%;
        display: inline-block;
        a {
          padding: 10px;
        }
      }
    }
    @include mediaquery(max, xs_mobile) {
      li {
        width: 48.8%;
        a {
          padding: 10px 5px;
        }
      }
    }
  }
  .cont {
    padding: 25px;
  }
  @include mediaquery(max, tablet) {
    padding: 15px;
    .cont {
      padding: 15px;
    }
  }
}
.invitation_item {
  @include flex(row, space-between, center);
  margin-top: 25px;
  border: 1px solid #e1e3e6;
  padding: 15px;
  width: 100%;
  .cover {
    @include flex(row, flex-start, center);

    .photo {
      position: relative;
      margin-inline-end: 15px;
      img {
        width: 60px;
      }
      span {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 30px;
        font-weight: $weight_xbold;
        @include transform(rotate(-45deg));
      }
    }
    .cont {
      padding: 0;
      a {
        display: block;
        color: $main_color;
        font-weight: $weight_xbold;
        font-size: 17px;
        margin-bottom: 10px;
      }
      p {
        margin: 0;
        font-size: 14px;
        color: #777;
      }
    }
  }
  .date {
    span {
      display: block;
      font-size: 14px;
      line-height: 25px;
      font-weight: $weight_bold;
    }
  }
  .action {
    .link {
      margin: 0;
      &.white {
        background-color: transparent;
        border: 1px solid $main_color;
        color: $main_color;
        line-height: 35px;
        font-size: 13px;
        padding: 0 12px;
      }
    }
    .icon_link {
      width: 35px;
      height: 35px;
      line-height: 35px;
    }
  }
  @include mediaquery(max, tablet) {
    flex-wrap: wrap;
    .action {
      width: 100%;
      text-align: center;
      margin: 25px auto 0;
    }
  }
  @include mediaquery(max, mobile) {
    flex-direction: column;
    .date {
      margin: 10px auto 0;
      span {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
}

.notification {
  margin: 15px 0 0;
  padding: 15px;
  font-size: 13px;
  font-weight: $weight_xbold;
  word-spacing: 1px;
  background-color: #f7f7f7;
  @include border_radius(5px);
  line-height: 30px;
  span {
    display: block;
    text-align: right;
    margin-top: 5px;
    direction: ltr;
  }
}
.invitation_data {
  margin: 15px auto 25px;
  width: 100%;
  padding: 0 25px;
  text-align: start;
  li {
    display: block;
    line-height: 45px;
    font-size: 16px;
    border-top: 1px solid #eee;
    padding-bottom: 5px;

    span {
      font-size: 14px;
      margin-inline-end: 3px;
      font-weight: $weight_xbold;
      min-width: 140px;
      display: inline-block;
    }
    @include mediaquery(max, mobile) {
      padding: 10px 0;
      line-height: 25px;
      span {
        display: block;
      }
    }
  }
}
h3.count {
  span {
    margin-inline-start: 15px;
    color: $black_color;
  }
}
.status {
  display: block;
  color: $black_color !important;
  padding: 15px;
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  @include border_radius(5px);
  i {
    display: block;
    font-size: 16px;
    margin: 5px auto 15px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #fff;
    @include border_radius(50%);
  }
  .info {
    text-align: center;
    font-weight: $weight_xbold;
    font-size: 16px;
    span {
      margin: 15px auto 10px;
      display: block;
      font-size: 16px;
      color: $black_color;
    }
  }
  &.red {
    background-color: #ffb8b8;
  }
  &.green {
    background-color: #d0ffe7;
  }
  &.gray {
    background-color: #f5f5f7;
  }
  &.orange {
    background-color: #ffe5bf;
  }
}

.scan {
  background-color: transparent;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #e1e3e6;
  @include border_radius(5px);
  width: 100%;
  img {
    width: 80px;
    margin: 0 auto 15px;
  }
}
